#calculator {
    width: 300px;
    background: blue;
    display: flex;
    flex-flow: row wrap;
}

button {
    width: 3rem;
    height: 3rem;
    margin: .3rem;
    background: white;
    outline: 0;
    border: 0;
    transition: all .1s;
}
h2{
    text-align: left;
}
button:active {
    background: rgb(0, 0, 120);
    color: white;
}

#displayer {
    width: 300px;
    height: 1rem;
    font-size: 1.1rem;
    overflow-x: auto;
    padding: .5rem;
    margin: .5rem;
    background: white;
    text-align: right;
}